data/
.ipynb_checkpoints
.bin
*.db

*.parquet
*.html
*.csv

.venv
venv
.idea
**/artifacts/
**/models/
mlflow
cohorts/2023/02-experiment-tracking/homework/output

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*
